<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                Todas las Categorias
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nro</th>
                            <th scope="col">Nombre de la categoria</th>
                            <th scope="col">Fecha y Hora de creacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(category,index) in getCategorys" :key="index" :value="category.id">
                            <th scope="row">{{index}}</th>
                            <td>{{category.name}}</td>
                            <td>{{category.createdCategory}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'AllCategory',
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys'
        })
    },

    methods:{
        ...mapActions({
            get_all_categorys:'category/getCategorysAll'
        }),
    },
    mounted(){
            this.get_all_categorys()
    }
}
</script>