<template>
    <div>
        <NavHome :color="color"/>
        <header class="masthead">
            <div class="container d-flex h-50 align-items-center" style="padding-top: 10%;">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Electro Leks</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Ofrecemos Calidad, somos seguros. ¡Realiza tu compra ahora! Productos de Primera, pagos seguros. Variedad de las mejores marcas.</h2>

                </div>
            </div>
        </header>
        <section class="about-section text-center" id="about">
            <div class="container">
                <img class="img-fluid" src="/images/ElectroLeks_2.png" alt="" />
            </div>
        </section>
        <!-- Projects-->

        <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/images/Electro_1.jpg" alt="" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Electro Leks</h4>
                            <p class="text-black-50 mb-0">Contamos productos como Refrigeradores, Cocinas, Lavadoras, entre otros, ven..! te esperamos...</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-3" v-for="(post,index) in productos.data" :key="index">
                    <!--<div class="col-lg-6"><img class="img-fluid" src="/images/Electro_2.jpg" alt="" /></div>-->
                    <div class="col-lg-6"><img class="img-fluid" :src="post.photo" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">{{post.title}}</h4>
                                     <p class="mb-0 text-white-50">Precio:{{post.precio}}</p>
                                    <p class="mb-0 text-white-50">Creado por:{{post.user.name}} {{post.added}}</p>
                                    <p class="mb-0 text-white-50">{{post.body.substr(0,200)}}...</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="/images/Electro_3.jpg" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Electro Leks</h4>
                                    <p class="mb-0 text-white-50">Tambien contamos con Batidoras, Licuadoras y otros mas... ven! y compra nuestros productos de buena calidad</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                        <form class="form-inline d-flex">
                            <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Enter email address..." />
                            <button class="btn btn-primary mx-auto" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">4923 Market Street, Orlando FL</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="#!">hello@yourdomain.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">+1 (555) 902-8832</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
    name:'Home',
    data(){
        return {
            color:''
        }
    },
    components:{NavHome},
    computed:{
        ...mapGetters({
            productos:'post/get_productos'
        })
    },
    methods:{
        ...mapActions({
            get_productos:'post/get_todos_productos',
        }),
    },
    created(){
        this.get_productos()
    },
}
</script>