<!--<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" v-model="form.name">
        </div>
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="tex" name="password" id="password" v-model="form.password">
        </div>
        <div>
            <label for="password">Confirmar Contraseña</label>
            <input type="tex" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation">
        </div>
        <button type="submit">Registrarse</button>
    </form>
</template>-->
<template>
	<div class="main-w3layouts wrapper">
		<h1>Registro</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" @submit.prevent = "submit">
					<input class="text" type="text" name="Username" placeholder="Username" required="" v-model="form.name" autocomplete="off">
					<input class="text email" type="email" name="email" placeholder="Email" required="" v-model="form.email" autocomplete="off">
					<input class="text" type="password" name="password" placeholder="Password" required="" v-model="form.password">
					<input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="" v-model="form.password_confirmation">
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>Acepto los términos  & condiciones</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="Registrarse">
				</form>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</template>
<script>
import {mapActions} from 'vuex'
export default {
    name:'SignUp',
    data(){
        return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            }
        }
    },
    methods:{
        ...mapActions({
            send:'auth/signUp'
        }),
        async submit(){
            await this.send(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>